<!DOCTYPE html>
<html>
<head>
  <title>Rails admin image manager</title>
  <%= stylesheet_link_tag    "rails_admin_image_manager/application", media: "all" %>
  <%= javascript_include_tag "rails_admin_image_manager/application" %>
  <%= csrf_meta_tags %>
</head>
<body>
<div id="vue-image-manager">
  <%= yield %>
  <image-insert-overlay/>
</div>

</body>
</html>
